docs/~$oposal.docx
*.tmp
*.pyc
docs/~$chnical Report Eoin Fitzsimons.docx
.pytest_cache
docs/Final Submission/~$Final Presentation.pptx
docs/Final Submission/~$3151374 Final Project Technical Report.docx
docs/Final Submission/~$Showcase Poster Eoin Fitzsimons Momentum.pptx
